.page-container {
    overflow-y:scroll; 
    position:relative;
    height: 94vh;
}

.form {
    .mat-input {
        margin-left: 6px !important;
    }

    .filter-button {
        margin-left: 10px;
    }
}

.statistics-container
{
    border: 1px solid black;
    margin: 20px 0;
}

.table-container-header
{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a8c4a;
    color: white;

    h3 {
        display: flex;
        align-items: center;
    }
}

.subgroup-statistics-container {
    border-top: 1px solid black;
}

.subgroup-table-container-header {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #41b6ef;
    color: white;

    h3 {
        display: flex;
        align-items: center;
    }
}


.table-container {
    border-top: 1px solid black;
}

.pointer-hover {
    &:hover {
        cursor: pointer;
    }
}

table 
{
    width: 100%;
}

.actionsColumn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.width-15 {
    width: 15% !important;
}

.width-10 {
    width: 10% !important;
}

.width-5 {
    width: 5% !important;
}