<div class="page-container">
    
    <h2>Filtrar por Ano</h2>
    <form class="form" [formGroup]="statisticsForm">
        <mat-form-field appearance="legacy" class="mat-input">
            <mat-label>Ano Inicial</mat-label>
            <input matInput formControlName="startDate" (keyup)="restrictNumbersOnly($event, 'startDate')">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="mat-input">
            <mat-label>Ano Final</mat-label>
            <input matInput formControlName="endDate" (keyup)="restrictNumbersOnly($event, 'endDate')">
        </mat-form-field>

        <button mat-flat-button color="primary" class="btn btn-primary filter-button" [disabled]="!this.statisticsForm.valid" (click)="applyFilters()">Aplicar Filtros</button>
    </form>
    
    <div *ngFor="let statisticsHeader of statisticsHeaders; index as i" class="statistics-container">
        <div class="table-container-header" (click)="toggleStatisticsTable(statisticsHeader[0])">
            <h3 style="width: 500px;">{{ formatHeader(statisticsHeader[0]) }} </h3>
            <h3 style="width: 500px;">{{ statisticsHeader[1] }} </h3>
            <h3 class="pointer-hover"><mat-icon>{{ openTable == statisticsHeader[0] ? "keyboard_arrow_up" : "keyboard_arrow_down" }}</mat-icon></h3>
        </div>
        
        <div *ngIf="openTable == statisticsHeader[0] && themesDividedByKeys.includes(statisticsHeader[0])">
            <div *ngFor="let book of booksByKey; index as i" class="subgroup-statistics-container">
                <div class="subgroup-table-container-header" (click)="toggleSubGroupTable(i)">
                    <h3 style="width: 500px;">{{ i + 1 }}° {{ book.key }} </h3>
                    <h3 style="width: 500px;">Quantidade de livros: {{ book.count }} </h3>
                    <h3 class="pointer-hover"><mat-icon>{{ openSubGroupTables.includes(i) ? "keyboard_arrow_up" : "keyboard_arrow_down" }}</mat-icon></h3>
                </div>
                
                <table mat-table [dataSource]="booksByKey[i].books" class="mat-elevation-z8 table-container" *ngIf="openSubGroupTables.includes(i)">
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef class="width-15"> Título </th>
                        <td mat-cell *matCellDef="let book"> {{book.title}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="author">
                        <th mat-header-cell *matHeaderCellDef class="width-15"> Autor </th>
                        <td mat-cell *matCellDef="let book"> {{book.author}} </td>
                    </ng-container>

                    <ng-container matColumnDef="readingYear">
                        <th mat-header-cell *matHeaderCellDef class="width-10"> Ano de Leitura </th>
                        <td mat-cell *matCellDef="let book"> {{book.readingYear}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="releaseYear">
                        <th mat-header-cell *matHeaderCellDef class="width-10"> Lançamento </th>
                        <td mat-cell *matCellDef="let book"> {{book.releaseYear}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="isFiction">
                        <th mat-header-cell *matHeaderCellDef class="width-5"> Ficção </th>
                        <td mat-cell *matCellDef="let book"><mat-icon class="icon">{{ book.isFiction ? 'done' : 'clear' }}</mat-icon></td>
                    </ng-container>
            
                    <ng-container matColumnDef="genres">
                        <th mat-header-cell *matHeaderCellDef class="width-15"> Gêneros </th>
                        <td mat-cell *matCellDef="let book"> {{book.genres.join(" / ")}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="numberOfPages">
                        <th mat-header-cell *matHeaderCellDef class="width-5"> Páginas </th>
                        <td mat-cell *matCellDef="let book"> {{book.numberOfPages}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="countryOfOrigin">
                        <th mat-header-cell *matHeaderCellDef class="width-10"> Origem </th>
                        <td mat-cell *matCellDef="let book"> {{book.countryOfOrigin}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="language">
                        <th mat-header-cell *matHeaderCellDef class="width-10"> Idioma </th>
                        <td mat-cell *matCellDef="let book"> {{book.language}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

        <div *ngIf="openTable == statisticsHeader[0] && themesWithSimpleList.includes(statisticsHeader[0])">
            <table mat-table [dataSource]="bookList" class="mat-elevation-z8 table-container">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef class="width-15"> Título </th>
                    <td mat-cell *matCellDef="let book"> {{book.title}} </td>
                </ng-container>
        
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef class="width-15"> Autor </th>
                    <td mat-cell *matCellDef="let book"> {{book.author}} </td>
                </ng-container>

                <ng-container matColumnDef="readingYear">
                    <th mat-header-cell *matHeaderCellDef class="width-10"> Ano de Leitura </th>
                    <td mat-cell *matCellDef="let book"> {{book.readingYear}} </td>
                </ng-container>
        
                <ng-container matColumnDef="releaseYear">
                    <th mat-header-cell *matHeaderCellDef class="width-10"> Lançamento </th>
                    <td mat-cell *matCellDef="let book"> {{book.releaseYear}} </td>
                </ng-container>
        
                <ng-container matColumnDef="isFiction">
                    <th mat-header-cell *matHeaderCellDef class="width-5"> Ficção </th>
                    <td mat-cell *matCellDef="let book"><mat-icon class="icon">{{ book.isFiction ? 'done' : 'clear' }}</mat-icon></td>
                </ng-container>
        
                <ng-container matColumnDef="genres">
                    <th mat-header-cell *matHeaderCellDef class="width-15"> Gêneros </th>
                    <td mat-cell *matCellDef="let book"> {{book.genres.join(" / ")}} </td>
                </ng-container>
        
                <ng-container matColumnDef="numberOfPages">
                    <th mat-header-cell *matHeaderCellDef class="width-5"> Páginas </th>
                    <td mat-cell *matCellDef="let book"> {{book.numberOfPages}} </td>
                </ng-container>
        
                <ng-container matColumnDef="countryOfOrigin">
                    <th mat-header-cell *matHeaderCellDef class="width-10"> Origem </th>
                    <td mat-cell *matCellDef="let book"> {{book.countryOfOrigin}} </td>
                </ng-container>
        
                <ng-container matColumnDef="language">
                    <th mat-header-cell *matHeaderCellDef class="width-10"> Idioma </th>
                    <td mat-cell *matCellDef="let book"> {{book.language}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
