.page-container {
    overflow-y:scroll; 
    position:relative;
    height: 94vh;
}

.add-button-container {
    margin: 6px 0px 12px;
}

.year-container
{
    border: 1px solid black;
    margin-bottom: 20px;
}

.table-container-header
{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a8c4a;
    color: white;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    h3 {
        display: flex;
        align-items: center;
    }
}

.table-container {
    border-top: 1px solid black;
}

.pointer-hover {
    &:hover {
        cursor: pointer;
    }
}

table 
{
    width: 100%;
}

.actionsColumn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-row {
    border-bottom-width: 1px !important;
    border-bottom-color: rgba(0,0,0,.12) !important;
    border-bottom-style: solid !important;
}

.width-15 {
    width: 15% !important;
}

.width-10 {
    width: 10% !important;
}

.width-5 {
    width: 5% !important;
}
