.page-container {
    height: 100%;
    width: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px;
    padding: 0 60px;
}


.label-container {
    height: 60%;
    width: 60%;

    h1 {
        font-size: 60px;
    }
}

.form-container {
    height: 500px;
    width: 400px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    margin-right: 6%;
    padding: 30px;
    margin-top: -120px;

    h3 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
    }
}

.form {
    display: flex;
    flex-direction: column;

    button {
        height: 40px;
        margin: 50px 0 20px;
    }
}

.redirect-text
{
    color: blue;
    text-decoration: underline blue;

    &:hover {
        cursor: pointer;
        text-decoration: underline blue;
        opacity:0.65;
    }
}
